<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/Head.ejs'); %>
    <link rel="stylesheet" href="/css/style.css">
    <title>Register Page</title>
</head>
<body class="container mybodybg">
    <main>
        <div class="form-box rounded">
            <h2>Register Form</h2>
            <form class="form-login" action="/api/v1/auth/register" method="POST">
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="name" class="form-control" name="name" value="<%- userData.name %>" placeholder="Name" required/>
                </div>

                <!-- Username input -->
                <div class="form-outline mb-4">
                    <input type="text" id="username" class="form-control" name="username" value="<%- userData.username %>" placeholder="Username" required/>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control" name="email" value="<%- userData.email %>" placeholder="Email"/>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="passwd" class="form-control" name="passwd" placeholder="Password" required/>
                </div>

                <!-- Repeat Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="repeatPasswd" class="form-control" name="repeatPasswd" placeholder="Repeat password" required/>
                </div>

                <%- warning %>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            </form>
        </div>
    </main>
</body>
</html>

